<?xml version="1.0"?>
<config>
    <modules>
        <Alberto_ReturnRequest>
            <version>0.1.0</version>
        </Alberto_ReturnRequest>
    </modules>
    <global>
        <helpers>
            <returnrequest>
                <class>Alberto_ReturnRequest_Helper</class>
            </returnrequest>
        </helpers>
        <blocks>
            <returnrequest>
                <class>Alberto_ReturnRequest_Block</class>
            </returnrequest>
        </blocks>
        <models>
            <returnrequest>
                <class>Alberto_ReturnRequest_Model</class>
            </returnrequest>
        </models>
        <resources>
            <returnrequest_setup>
                <setup>
                    <module>Alberto_ReturnRequest</module>
                </setup>
            </returnrequest_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <returnrequest>
                <use>standard</use>
                <args>
                    <module>Alberto_ReturnRequest</module>
                    <frontName>returnrequest</frontName>
                </args>
            </returnrequest>
        </routers>
        <layout>
            <updates>
                <alberto_returnrequest>
                    <file>returns.xml</file>
                </alberto_returnrequest>
            </updates>
        </layout>
    </frontend>
</config>